$blue: #003566;
$darkblue: #0a192f;
$blueshadow: #0e2240;
$navy: #233554;
$lightblue: #0472d8;
$yellow: #ffd60a;
$lightyellow: #fff98e;
$darkyellow: #c9a909;
$slate: #8892b0;
$lightslate: #ccd6f6;
$aqua: #a8dadc;
$cream: #e9d8a6;


// $darkblue: #14213d;