@use '../abstracts/variables' as v;

.project{
    background-color: v.$blueshadow;
    margin: 1em 0;
    border-radius: 5px;

    @media (min-width: 700px){
        max-width: 300px;
        margin: 0 1em;
    }

    &__imgcontainer{
        max-width: 350px;
        margin: 0 0 1em;

        img{
            width: 100%;
            height: 100%;
            border-radius: 5px 5px 0 0;
        }
    }

    &__body{
        padding: 0 1em 0;
    }

    &__title{
        font-size: 20px;
        font-weight: bold;
        color: v.$yellow;
    }


    &__links-container{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 0 0 1em;

        @media (min-width: 700px){
            align-items: flex-end;
        }

        a{
            width: 100px;
            background-color: v.$yellow;
            color: v.$darkblue;
            padding: 5px;
            border-radius: 5px;
            text-align: center;
            text-decoration: none;

            &:hover{
                background-color: v.$darkyellow;
            }
        }
    }

    p{
        color: v.$slate;
        font-size: 14px;
        line-height: 18px;
        margin: 0.5em 0 1em;

        @media (min-width: 700px){
            font-size: 18px;
            line-height: 21px;
        }
    }
}
